@model Truck.Core.Model.Inspection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Truck.PlateNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Truck.PlateNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InspectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
